.refreshButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15%; */
  /* flex-grow: 1;
  width: 0; */
  width: 300px;
  height: 40px;
  font-size: 15px;
  border: 1px solid black;
  color: black;
  /* margin-left: 50px; */
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
