.container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6vh;
  min-width: 100vw;
  border-bottom: 0.2vh solid #3a3a3a;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  margin: 80px;
  font-family: roboto;
}

.link:hover {
  transform: scale(1.05);
}

.link:active {
  transform: scale(0.94);
}

/* .link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
} */
