video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.divButton {
  position: absolute;
  bottom: 80px;
}

.enterButton {
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 220px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: transparent;
}

.enterButton span {
  font-size: 25px;
  letter-spacing: 1px;
  /* font-weight: 100; */
}

.enterButton:hover {
  background-color: whitesmoke;
}
