.warningContainer {
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.warningText {
  font-size: 30px;
  font-weight: 300;
}
