.card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 15px;
  width: 250px;
  height: 310px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
  /* todo lo q sale de la caja no se ve */
  overflow: hidden;
}

.div_text {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.card_image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* position: absolute; */
  /* width: 250px; */
  min-height: 160px;
  max-height: 160px;
  /* object-fit: cover; */
  object-position: center;
}

.card_rating {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: green; */
  height: 20%;
  justify-content: center;
  gap: 5px;
  padding: 12px 0px;
}

.fuego {
  font-size: 1.1rem;
}

.card_name {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  text-align: center;
  /* background-color: aqua; */
  height: 50%;
  padding: 0px 5px;
}

.card_genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  height: 30%;
  font-size: 13px;
  /* background-color: blue; */
  height: 30%;
  padding: 5px;
  border-top: 1px solid black;
}
