.formContainer {
  width: 100%;
  height: 93.8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 120px 30px 120px;
}

.createContainer {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* background: rgb(170, 170, 170); */
  background: whitesmoke;
  padding: 60px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  gap: 70px;
  overflow: hidden;
}

.createContainer::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  content: "";
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  z-index: 30;
  border-radius: 15px 15px 0 0;
}

.leftContainer {
  /* background: red; */
  display: flex;
  flex-direction: column;
  /* outline: 1px solid black; */
  width: 0;
  flex-grow: 1;
  height: 100%;
  gap: 5px;
}

.rightContainer {
  /* background: red; */
  display: flex;
  flex-direction: column;
  /* outline: 1px solid black; */
  width: 0;
  flex-grow: 1;
  height: 100%;
  gap: 5px;
}

.divs {
  position: relative;
  /* background: yellow; */
  height: 20%;
  padding-bottom: 25px;
}

.divDescription {
  position: relative;
  height: 40%;
  /* background: purple; */
  /* padding-bottom: 10px; */
  padding-bottom: 25px;
}

.divDescription label {
  display: flex;
  /* position: relative; */
  font-size: 18px;
  color: black;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: 18%;
  margin-bottom: 5px;
}

.divDescription textarea {
  resize: none;
  /* min-height: 140px; */
  /* max-height: 80%;
  max-width: 100%; */
  height: 82%;
}

.divsSelect {
  position: relative;
  height: 20%;
  padding-bottom: 25px;
  /* border: 1px solid black; */
  /* background: yellow; */
}

.divsSelect select {
  /* width: 100%;
  height: 40px;
  border-radius: 8px; */
  /* display: flex; */
  width: 100%;
  height: 70%;
  border: none;
  font: inherit;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding-left: 10px;
  background: rgb(196, 196, 196);
  cursor: pointer;
}

.divPruebaa {
  position: relative;
  display: flex;
  flex-direction: row;
  /* background-color: purple; */
  min-height: 70px;
  /* height: fit-content; */
  flex-wrap: wrap;
  padding: 1%;
  justify-content: space-between;
  border: 1px dashed black;
  align-items: flex-start;
  border-radius: 10px;
}

.divPruebaa span {
  font-size: 12px;
  position: absolute;
  top: -18px;
  left: 2px;
}

.divClose {
  position: relative;
  display: flex;
  flex-direction: row;
  background: rgb(196, 196, 196);
  color: black;
  font-weight: 500;
  width: 47%;
  max-width: 47%;
  /* height: fit-content; */
  /* flex-grow: 1; */
  font-size: 14px;
  /* margin-bottom: 3px; */
  border-radius: 5px;
  padding-left: 5px;
}

.divClose i {
  position: absolute;
  right: 6px;
  cursor: pointer;
  color: rgb(190, 24, 24);
}

.inputContainer,
.inputErrorContainer {
  display: flex;
  width: 100%;
  height: 70%;
  border: none;
  font: inherit;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding-left: 10px;
  background: rgb(196, 196, 196);
}

.inputErrorContainer {
  border: 1px dashed rgb(190, 24, 24);
}

.labelContainer {
  display: flex;
  /* position: relative; */
  font-size: 18px;
  color: black;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: 30%;
  margin-bottom: 5px;
  /* background: purple; */
}

.createButton {
  position: absolute;
  bottom: 16px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  width: 150px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(223, 223, 223);
  color: black;
  /* border: 1px solid black; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: default;
}

.createButton:hover {
  cursor: pointer;
}

.errorText {
  position: absolute;
  color: rgb(190, 24, 24);
  font-size: 12px;
  bottom: 0;
}

.minContainer {
  display: flex;
  margin-bottom: 10px;
}
